<div class="container template-list-page py-4">
  <h3 class="page-title">{{'Creation of contract' | translate}}</h3>
  <p class="page-subtitle">{{'5 steps' | translate}}</p>
  <h4 class="mb-3">Шаг 1</h4>
  <p class="mb-32">Запросите согласие на сбор и обработку персональных данных всех подписантов для выбранного шаблона договора во вкладке “Создать контракт”</p>
  <img class="w-100" src="../../../../assets/screens/screen1.jpg" alt=""/>
  <h4 class="mb-3">Шаг 2</h4>
  <p class="mb-32">Выберите шаблон договора во вкладке “Создать контракт” , заполните все обязательные поля и нажмите “Создать контракт”</p>
  <img class="w-100" src="../../../../assets/screens/screen2.jpg" alt=""/>
  <img class="w-100" src="../../../../assets/screens/screen3.jpg" alt=""/>
  <h4 class="mb-3">Шаг 3</h4>
  <p class="mb-32">Проверьте все внесенные данные и подпишите ранее созданный Вами договор</p>
  <img class="w-100" src="../../../../assets/screens/screen4.jpg" alt=""/>
  <h4 class="mb-3">Шаг 4</h4>
  <p class="mb-32">Проверьте статус вашего договора во вкладке “Мои договора”</p>
  <img class="w-100" src="../../../../assets/screens/screen5.jpg" alt=""/>
  <h4 class="mb-3">Шаг 5</h4>
  <p class="mb-32">Скачайте подписанный договор в формате PDF</p>
  <img class="w-100" src="../../../../assets/screens/screen6.jpg" alt=""/>
</div>
