.sc-timepicker-container {
  height: 0;
}

.sc-timepicker-wrapper {
  background: #fff;
  position: absolute;
  z-index: 1000;
  border: 1px solid #ced4da;
  padding: 5px;
}

.sc-timepicker {

}
.form-control {
  border-radius: 10px;
  padding: .5rem .75rem;
  height: auto;
}