<ul class="filter-content">
  <li
    class="mb-4"
    [class.state-active]="activeState === filter.state"
    *ngFor="let filter of states;"
  >
    <span
      class="cursor-pointer"
      routerLink="/contracts"
      [queryParams]="navigate(filter)"
      queryParamsHandling="merge"
    >
      {{ 'Contract Statuses.'+filter.state | translate }}
    </span>
  </li>
</ul>
