<div class="footer-top">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="">
        <h2>{{'footer.nit' | translate}}</h2>
        <p innerHTML="{{'footer.address' | translate}}"></p>
      </div>
      <div class="">
        <h2><a href="tel:1414">1414</a></h2>
        <p innerHTML="{{'footer.contactDescription'| translate}}"></p>
      </div>
      <div class="">
        <h2><a href="mailto:sc@nitec.kz">sc@nitec.kz</a></h2>
        <p>{{'footer.emailDescription'| translate}}</p>
      </div>
      <div class="d-flex flex-column">
        <a href="https://www.facebook.com/nitec.kz/" target="_blank">
          <img class="mb-4" src="assets/icons/facebook.svg" alt="facebook"/>
        </a>
        <a href="https://instagram.com/nitec_kz?utm_medium=copy_link" target="_blank">
          <img src="assets/icons/instagram.svg" alt="instagram"/>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="assets/icons/white-logo.svg" alt="Smartcontract logo" />
    <div class="d-flex">
      <p class="mr-4">{{'footer.copyright' | translate: {year: year} }}</p>
      <a class="mr-4" href="assets/files/agreement/{{currentLanguage}}.pdf" target="_blank">{{'footer.userAgreement' | translate}}</a>
      <a href="assets/files/conf/{{currentLanguage}}.pdf" target="_blank">{{'footer.confidentiality' | translate}}</a>
    </div>
  </div>
</div>
