:host {
  color: #fff;
}
.footer-top {
  padding-top: 48px;
  padding-bottom: 44px;
  background-color: #083759;
}
.footer-bottom {
  padding: 20px 0;
  background-color: #00060B;
}
h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 8px;
}
p {
  font-size: 14px;
  line-height: 20px;
}
a {
  color: #fff;
}
