.app-header {
  width: 100%;
  z-index: 1000;
}

.top-header {
  background: #083759;
  height: 48px;
}

.main-link {
  margin-right: 10px;
  margin-left: 10px;
}
.main-link a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
}
.select-lang {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  margin-right: 24px;
}

.dropdown-toggle::after {
  display: none;
}

.session {
  margin-top: -10px;
  margin-right: 16px;
  font-size: 16px;
}

.time-session {
  font-size: 11px;
}

.bottom-header {
  background-color: #1565C0;
  align-items: center;
  width: 100%;
  height: 66px;
  line-height: 80px;
}

.header-menu__link {
  font-weight: 600;
  font-size: 16px;
  height: 32px;
  line-height: 22px;
  margin-left: 0;
  color: white;
  cursor: pointer;
  z-index: 1000;
  border-bottom: 2px solid transparent;
  padding: 0;
  margin-top: 8px;
  margin-right: 40px;
  position: relative;
}

.header-menu__link.active {
  border-bottom: 2px solid white;
}
.header-menu__link .count {
  color: #fff;
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  font-size: 10px;
  position: absolute;
  top: -20%;
  text-align: center;
  line-height: 15px;
}

.btn-create {
  font-size: 16px;
}

.lang-dropdown {
  min-width: unset;
  margin-top: 5px;
}

.language a {
  margin: 8px;
  width: 60px;
}

.language:hover {
  background-color: #ced4da;
}

.language {
  padding: 4px 0;
}
.lang-button {
  font-size: 12px;
}

.account-dropdown {
  width: auto;
  margin-top: 5px;
}
#accountDropdown {
 min-width: 180px;
}
.account-dropdown small {
  font-size: 12px;
}

.account-dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 16px 24px;
  text-align: center;
}
.account-dropdown-item:hover {
  background-color: rgba(0,0,0,0.09);
}
.account-dropdown-item:last-child {
  border-bottom: none;
}

.account-dropdown-item {
  padding: 2px 2px;
}
