<header class="app-header align-items-center">
  <nav class="navbar navbar-expand-lg top-header">
    <div class="container d-inline-flex align-content-center text-white">
      <a class="main-logo cursor-pointer d-flex shadow-none text-white text-decoration-none" routerLink="/">
        <img src="assets/icons/white-logo.svg" alt="Smart contract logo">
      </a>
      <div class="collapse navbar-collapse ml-3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item main-link">
            <a href="/landing#how-works" class="cursor-pointer">{{'How it works' | translate}}</a>
          </li>
          <li class="nav-item main-link">
            <a href="/landing#faq" class="cursor-pointer">{{'landing.Faq' | translate}}</a>
          </li>
          <li class="nav-item main-link">
            <a href="/landing#footer" class="cursor-pointer">{{'Contacts' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="float-right ml-auto d-flex align-items-center">
        <div ngbDropdown>
          <button class="select-lang" id="langDropdown" ngbDropdownToggle>{{currentLanguage}}</button>
          <div ngbDropdownMenu aria-labelledby="langDropdown" class="lang-dropdown">
            <ul class="lang-dropdown-list" *ngFor="let item of languages">
              <li class="lang-dropdown-item linksub cursor-pointer language" ngbDropdownItem (click)="setLanguage(item.code);"
                  [ngClass]="currentLanguage == item.code ? 'active' : ''">
                <a>{{item.title}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="session" *ngIf="timer > 0">
          <div class="time-left">{{minutes}}:{{seconds}}</div>
          <span class="time-session">{{'Session time' | translate}}</span>
        </div>
        <div ngbDropdown placement="bottom-right" *ngIf="this.authService.isLoggedIn && !isLanding()">
          <button class="btn-bordered text-white" id="accountDropdown" ngbDropdownToggle>{{authService.getUserName}}</button>
          <div ngbDropdownMenu aria-labelledby="accountDropdown" class="account-dropdown p-0">
            <ul class="account-dropdown-list">
              <li class="p-2">
                <h6><small>{{'IIN:' | translate}}</small>&nbsp;{{authService.user && authService.user.iin}}</h6>
                <h6 *ngIf="authService.user && authService.user.isLegal">
                  <small>{{'BIN:' | translate}}</small>
                  &nbsp;{{authService.user.org.bin}}</h6>
                <h6 *ngIf="authService.user && authService.user.isLegal">
                  <small>{{'orgName:' | translate}}</small>
                  &nbsp;{{authService.user.org[this.translate.currentLang]}}
                </h6>
              </li>
              <li class="account-dropdown-item linksub red cursor-pointer p-2" (click)="logout()">
                {{'Logout' | translate}}
              </li>
            </ul>
          </div>
        </div>
        <button class="btn-bordered" *ngIf="this.authService.isLoggedIn && isLanding()" routerLink="/">{{'cabinet' | translate }}</button>
        <a class="btn-bordered text-white" *ngIf="!this.authService.isLoggedIn" [href]="idpLink">{{'Log in' | translate}}</a>

      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg bottom-header" *ngIf="this.authService.isLoggedIn && !isLanding()">
    <div class="container text-white d-flex">
      <div class="d-flex">
        <nav class="nav">
          <a
            routerLink="contracts"
            [queryParams]="{party: false}"
            routerLinkActive="active"
            class="nav-link header-menu__link"
          >
            {{'Outbox' | translate}}
            <span class="count" *ngIf="unreadCount.initiator > 0">{{unreadCount.initiator}}</span>
          </a>
          <a
            routerLink="contracts"
            [queryParams]="{party: true}"
            routerLinkActive="active"
            class="nav-link header-menu__link"
          >
            {{'Inbox' | translate}}
            <span class="count" *ngIf="unreadCount.party > 0">{{unreadCount.party}}</span>
          </a>
          <a
            routerLink="request"
            routerLinkActive="active"
            class="nav-link header-menu__link"
          >
            {{'Personal data processing' | translate}}
            <span class="count" *ngIf="unreadCount.personalData > 0">{{unreadCount.personalData}}</span>
          </a>
        </nav>
      </div>
      <button routerLink="contracts/create" class="btn btn-outline-light btn-create d-flex ml-auto">{{'Create contract' | translate}}</button>
    </div>
  </nav>
</header>
