.contract-item-users__divider {
  margin: 14px 0;
}

.contract-item__find-user__input {
  width: 100%;
  height: 46px;
  border: 1px solid #949494;
  border-radius: 4px;
  padding: 12px 24px;
}

.contract-item__result-user {
  margin-top: 64px;
}

.contract-item__find-user__btn {
  width: 100%;
  border: 2px solid #1170B4;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.contract-item__add-user__btn {
  border-radius: 4px;
  width: 280px;
  height: 46px;
  color: white;
}

.contract-item-users__content-remove__btn:hover {
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out 0s;
}

.users--background {
  background: #F7F8FC;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
}

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
