<div class="modal-header">
  <h4 class="modal-title">{{'Adding a new signer' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class='modal-body'>
  <div>
    <p class='menuitem mb-2'>ИИН нового подписанта</p>
    <div class="contract-item__find-user">
      <input
        type="text"
        [(ngModel)]="iinText"
        (ngModelChange)="onInputChange($event)"
        maxlength="12"
        class="contract-item__find-user__input"
        required
      />
      <div class="error-message" *ngIf="isUserSearchError">{{'Errors.Incorrect TIN' | translate}}</div>
      <app-button
        className="btn btn-outline-primary mt-4 w-100"
        (click)="searchUser()"
        [loading]="loadingSearch"
        [disabled]="iinText.length!==12"
      >
        Найти
      </app-button>
    </div>
  </div>
  <div class="contract-item__result-user" *ngIf="userResult">
    <p class='h3sub'>
      {{userResult.name[translate.currentLang]}}
    </p>
    <app-button
      className="btn btn-outline-primary mt-32 w-100"
      (click)="onAddUser(userResult.iin)"
      [disabled]="addUserLoading"
      [loading]="addUserLoading"
    >
      Добавить нового подписанта
    </app-button>
  </div>
</div>
