<div class="state" [ngStyle]="{color: getStateColors()}">
  <span class="state__dot" *ngIf="!loading" [ngStyle]="{backgroundColor: getStateColors()}"></span>
  <app-loader *ngIf="loading"></app-loader>
  <ng-content class="state__text"></ng-content>
</div>
