.state {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
}
.state__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin-right: 5px;
}
