<div class="container contract-list-page">
  <h1 class="page-title">
    {{filter.type === 'party' ? ('Contracts with my participation' | translate) : ('My contracts' | translate) }}
  </h1>
  <p class="page-subtitle">
    {{filter.type === 'party' ? ('List of contracts with your participation' | translate) : ('List of all contracts created by you' | translate) }}
  </p>

  <div class="row content">
    <div class="col-12 col-md-3">
      <app-filter
        [states]="filterStatuses"
        [activeState]="filter.state"
        [contractsAreLoading]="contractsLoading"
      ></app-filter>
    </div>
    <div
      class="col-12 col-md-6"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()"
    >
<!--      <input type="text" class="form-control mb-4" placeholder="{{'Search by name or contract name' | translate}}" disabled/>-->
      <div class="list-group">
        <app-preview-item
          *ngFor="let item of contractList"
          [title]="item.documentTitle[currentLanguage]"
          [participants]="getParticipants(item)"
          [link]="'/contracts/read/' + item.documentId + '/' + item.contractId"
          [state]="item.state"
          [id]="item.contractId"
          [createdDate]="item.createdDate"
          [loadingAgreementLink]="loadingDownload[item.contractId]"
          (download)="onDownload(item)"
          [isRead]="item.isRead"
        ></app-preview-item>
        <app-loader class="my-3" *ngIf="contractsLoading"></app-loader>
      </div>
    </div>
  </div>
</div>
