
.sidebar-list-item {
  padding: 36px 20px 15px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  transition: all 0.3s;
  position: relative;
}
.sidebar-list-item a:hover .contract-title{
  color: #1565C0;
}
.sidebar-list-item .link,
.sidebar-list-item small {
  font-size: 12px;
}
.sidebar-list-item--active {
  background: #fff;
  border-right: 0;
}
.sidebar-list-item--active:hover {
  background: #fff;
}
.sidebar-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background: #1170B4;
  transition: width 0.3s ease;
}
.sidebar-list-item--active::before {
  width: 6px;
}
.contract-title {
  color: black;
  font-weight: 600;
}
.contract-unread {
  background: #e9ecef!important;
}
.contract-svg {
  background: url("../../../../assets/icons/contract.svg") no-repeat center center;
  width: 29px;
  height: 41px;
  display: flex;
  margin-right: 23px;
}
.download {
  color: #1565C0;
  font-weight: 600;
  font-size: 12px;
}
.download-svg {
  background: url("../../../../assets/icons/download.svg") no-repeat center center;
  width: 17px;
  height: 22px;
  display: flex;
}
