<div class="sidebar-list-item list-group-item d-flex align-items-start px-3" [class.contract-unread]="!isRead">
  <div>
    <span class="contract-svg"></span>
  </div>
  <div class="w-100">
    <a
      [attr.routerLink]="link ? link : null"
      [routerLink]="link"
      [routerLinkActive]="link ? 'sidebar-list-item--active' : ''"
      queryParamsHandling="merge"
      class="text-decoration-none"
    >
      <small class="link gray float-right mb-1">{{ createdDate | dateFormat: dateTimeFormat }}</small>
      <app-state [color]="state" [loading]="stateLoading">{{ 'Contract Statuses.'+state | translate }}</app-state>
      <h4 class="bodysub contract-title mb-2">{{ title }}</h4>
      <p class="link gray mb-2" [innerHtml]="participants"></p>
    </a>
    <div class="d-flex">
      <app-loader
        *ngIf="loadingAgreementLink"
        size="extraSmall"
        [style.margin-top]="'5px'"
      ></app-loader>
      <span *ngIf="!loadingAgreementLink" class="download-svg mt-1"></span>
      <button
        class="btn btn-link d-inline-flex text-underline download"
        (click)="onDownload()"
      >
        {{ 'Download the contract' | translate}}
      </button>
    </div>
  </div>
</div>
