<div class="modal-header">
  <h4 class="modal-title">{{'Selecting address' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let city of cities; let i = index"
        class="list-group-item list-group-item-action d-flex justify-content-between"
        (click)="onSelectCity(city)"
        [class.list-group-item-info]="city.id === selectedCity?.id"
      >
        <span class="mr-3">{{i+1}}. {{city.name[translateService.currentLang]}}</span>
        <app-loader *ngIf="city.loading"></app-loader>
      </li>
    </ul>
    <button
      *ngIf="!selectedChild"
      type="button"
      ngbAutofocus
      class="btn btn-outline-danger"
      (click)="selectFullAddress()"
      [disabled]="!selectedCity"
    >{{'Choose' | translate}}</button>
  </div>
  <div class="col" *ngIf="cityChildren.length > 0">
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let child of cityChildren; let i = index"
        class="list-group-item list-group-item-action"
        (click)="onSelectCityChild(child)"
        [class.list-group-item-info]="child.id === selectedChild?.id"
      >
        <span class="mr-3">{{i+1}}. {{child.name[translateService.currentLang]}}</span>
        <app-loader *ngIf="child.loading"></app-loader>
      </li>
    </ul>
    <button
      *ngIf="selectedChild && !selectedGrandChild"
      type="button"
      ngbAutofocus
      class="btn btn-outline-danger"
      (click)="selectFullAddress()"
    >{{'Choose' | translate}}</button>
  </div>
  <div class="col" *ngIf="cityGrandChildren.length > 0">
    <ul class="list-group list-group-flush">
      <li
        *ngFor="let grandChild of cityGrandChildren; let i = index"
        class="list-group-item list-group-item-action"
        (click)="onSelectGrandChild(grandChild)"
        [class.list-group-item-info]="grandChild.id === selectedGrandChild?.id"
      >
        {{i+1}}. {{grandChild.name[translateService.currentLang]}}
      </li>
    </ul>
    <button
      *ngIf="selectedGrandChild"
      type="button"
      ngbAutofocus
      class="btn btn-outline-danger"
      (click)="selectFullAddress()"
    >{{'Choose' | translate}}</button>
  </div>
</div>
<div class="modal-footer row">

</div>
