:host {
  z-index: 100;
}
.list-group {
  overflow-y: auto;
  height: 400px;
  margin-bottom: 16px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.list-group .list-group-item {
  cursor: pointer;
}
