.item-page {
  padding-top: 32px;
  padding-bottom: 80px;
}

.contract-item-header {
  margin-bottom: 40px;
}

.contract-item-header__date {
  font-size: 14px;
  color: #949494;
  width: 200px;
}

.contract-item-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}

.contract-item-users__title {
  font-size: 20px;
  font-weight: 600;
}

.contract-item-users__content {
  margin: 24px 0 40px;
  padding: 40px 32px 24px;
  background-color: #F2F4F8;
}

.contract-item-users__content-name {
  font-size: 16px;
  font-weight: 500;
}

.contract-item-users__content-position {
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.contract-item-info__title {
  font-size: 20px;
  font-weight: 600;
}

.contract-item-info__doc-fields {
  margin-top: 32px;
}
.contract-item-info__section {
  font-size: 16px;
  font-weight: 600;
  flex-basis: 100%;
}
.contract-item-info__doc-fields__info {
  flex-basis: 50%;
}

.contract-item-info__doc-fields__info__subtitle {
  color: #949494;
  font-size: 16px;
  line-height: 26px;
}

.contract-item-info__doc-fields__info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #151515;
}

.contract-item-controls {
  position: fixed;
  top: 185px;
  right: 0;
  z-index: 1;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.contract-item-controls__button {
  width: 54px;
  height: 54px;
  box-shadow: inset 1px -1px 0 rgba(0, 0, 0, 0.08);
  cursor: pointer;
  position: relative;
}

.contract-item-controls__button:hover {
  background-color: rgba(0, 0, 0, .1);
}
.contract-item-controls__button svg {
  max-height: 20px;
}

.contract-item-controls__button--sign-img {
  width: 50%;
}

.contract-item-controls__button--sign {
  background: #1170B4;
}
.contract-item-controls__button--sign:hover {
  background: #074182;
}

.contract-item-controls__button--remove {
  background: #E63333;
}

.contract-item-controls__button-text {
  position: absolute;
  right: 70px;
  background-color: rgba(60,64,67,.9);
  padding: 4px 8px;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  display: none;
}

.contract-item-controls__button:hover .contract-item-controls__button-text {
  display: block;
}

.modal-container {
  padding: 48px 24px;
}

.modal-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
}

.trash {
  background: url("../../../../assets/icons/trash.svg") no-repeat center center;
  width: 14px;
  height: 16px;
  display: flex;
  margin-right: 0.25rem;
}

.modal-text {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.button-container {
  text-align: right;
  position: relative;
}

.button-container button {
  font-size: 16px;
  line-height: 22px;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 18px;
  height: 18px;
  color: red;
  opacity: 1;
  padding: 5px 20px 20px;
}

.modal-close:before, .modal-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 19px;
  width: 2px;
  background-color: red;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}
.remove-user span {
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}

.removing-user {
  background: #F2F4F8;
  border-radius: 4px;
  padding: 40px 32px;
}
.removing-user small {
  font-size: 14px;
  line-height: 20px;
  color: #949494;
}
.removing-user h6 {
  font-size: 16px;
  line-height: 24px;
}
