<app-loader
  *ngIf="loading"
  [style.margin-top]="'15%'"
  [style.margin-left]="'25%'"
  size="medium"
></app-loader>
<div class="container item-page" *ngIf="!loading && document">
  <button (click)="goBack()" class="btn btn-primary btn-sm">
    ← {{'Back' | translate}}
  </button>
  <div class="contract-item-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center mb-2">
        <h2 class='page-title mr-3 mb-0'>{{ document.title[currentLanguage] }}</h2>
        <app-state *ngIf="contract" [color]="contract.state">{{'Contract Statuses.'+contract.state | translate}}</app-state>
      </div>
      <!--TODO: create component-->
      <!--Not necessary-->
      <!--<div *ngIf="document.templateId" class="d-flex template-document align-items-center cursor-pointer" (click)="openTemplate(document)">
        <div class="mr-2 d-flex align-items-center">
          <img *ngIf="!document.loading" src="../../../../assets/icons/eye.svg" alt="eye"/>
          <app-loader *ngIf="document.loading" size="small"></app-loader>
        </div>
        <a class="text-underline">
          {{'View sample' | translate}}
        </a>
      </div>-->
    </div>
    <small *ngIf="document.description && mode === 'create'">{{ document.description[currentLanguage] }}</small>
    <p class='page-subtitle' *ngIf="contract">{{'Created' | translate}} {{ contract?.createdDate | dateFormat: dateTimeFormat }}</p>
  </div>
  <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 col-md-3">
      <span class="text-uppercase">{{getUserType() | translate}}</span>
      <h6 class='contract-item-users__content-name'>
        {{ auth.user && auth.user.fullName }}&nbsp;({{'You' | translate}})
      </h6>
      <h6 class="contract-item-users__content-name">{{'IIN:' | translate}}&nbsp;{{auth.user && auth.user.iin}}</h6>
      <h6 class="contract-item-users__content-name" *ngIf="auth.user && auth.user.org">{{'BIN:' | translate}}&nbsp;{{auth.user.org.bin}}</h6>
      <h6 class="contract-item-users__content-name" *ngIf="auth.user && auth.user.org">{{'orgName:' | translate}}&nbsp;{{auth.user.org[currentLanguage]}}</h6>
      <div class='divider contract-item-divider'></div>
      <div class="action-buttons" *ngIf="mode === 'read' && contract">
        <button *ngIf="checkSignContract()" (click)="onSignContract(signModal)" class="btn btn-primary btn-lg w-100 mb-3" [disabled]="ncaLoading || getXmlLoading">
          <span>{{'Sign' | translate}}</span>
        </button>
        <button *ngIf="checkRejectContract()" (click)="openRejectModal(rejectContractModal)" class="btn btn-light btn-lg w-100 mb-3">
          <span>{{'Refuse to sign' | translate}}</span>
        </button>
        <button *ngIf="checkEditContract()" (click)="onEditContract()" class="btn btn-light btn-lg w-100 mb-3">
          <span>{{'Change the data' | translate}}</span>
        </button>
        <button (click)="onDownloadContract()" class="btn btn-light btn-lg w-100 mb-3">
          <span *ngIf="!loadingDownload">{{'Download the document' | translate}}</span>
          <app-loader *ngIf="loadingDownload" size="small"></app-loader>
        </button>
        <button *ngIf="contract && contract.canCancel && userPermissions.owner" (click)="openArchiveModal(cancelContractModal)" class="btn btn-light btn-lg w-100 mb-3">
          <span class="text-danger">{{'Cancel document' | translate}}</span>
        </button>
        <!--Not necessary-->
        <!--<button *ngIf="contract && contract.canArchive" (click)="openArchiveModal(archiveContractModal)" class="btn btn-light btn-lg w-100 mb-3">
          <span class="text-danger">{{'Delete document' | translate}}</span>
        </button>-->
      </div>
      <app-loader *ngIf="agreementsLoading"></app-loader>
      <ng-container *ngIf="!agreementsLoading">
        <app-agreement-request
          *ngFor="let item of agreements"
          [fullName]="item.acceptorFullName[currentLanguage]"
          [agreementId]="item.requestId"
        ></app-agreement-request>
      </ng-container>
    </div>
    <div class="col-12 col-md-6">
      <div class="" *ngIf="mode === 'read'">
        <div class="d-flex justify-content-between align-items-center">
          <p class="contract-item-users__title">{{'Status of participants' | translate}}</p>
          <button *ngIf="canManageUsers()" class="btn btn-link py-0" (click)="openUsersModal()">{{'Add participant' | translate}}</button>
        </div>
        <div class='contract-item-users__content'>
          <div class='d-flex align-items-center justify-content-between mb-3'>
            <div>
              <span class="contract-item-users__content-position mb-1">{{'Creator' | translate}}</span>
              <h6 class='contract-item-users__content-name'>{{ capitalizeFullName(initiator.fullName) }}&nbsp;<span *ngIf="auth.user && initiator.iin === auth.user.iin">({{'You' | translate}})</span></h6>
            </div>
            <app-state [color]="getOwnerStatus()">{{'User Statuses.'+getOwnerStatus() | translate}}</app-state>
          </div>
          <div class='d-flex align-items-center justify-content-between mb-3' *ngFor="let user of contractUsers">
            <div>
              <h6 class='contract-item-users__content-name'>{{ capitalizeFullName(user.fullName) }}&nbsp;<span *ngIf="auth.user && user.iin === auth.user.iin">({{'You' | translate}})</span></h6>
              <small *ngIf="auth.user && auth.user.iin === initiator.iin" class="contract-item-users__content-position mt-1 cursor-pointer remove-user d-flex align-items-center p-0" (click)="openRemoveUserModal(removeUserModal); selectedUser = user">
                <span class="trash"></span>{{'Remove party' | translate}}
              </small>
            </div>
            <app-state [color]="user.status">{{'User Statuses.'+user.status | translate}}</app-state>
          </div>
        </div>
        <p *ngIf="waitingConductor">{{ 'Messages.The application is being verified. This may take some time' | translate }}</p>
        <button *ngIf="canPay && !shouldPay" class="btn btn-warning">{{'Not paid' | translate}}</button>
        <p class="payment-info mb-3" *ngIf="rkCode && shouldPay">
          {{'The agreement is registered in the Ministry of Justice of the Republic of Kazakhstan with the number:' | translate}} <b>{{rkCode}}</b><br/>
          {{'To register the rights (requirements) you need to pay' | translate}}
        </p>
        <app-button
          *ngIf="shouldPay"
          className="btn btn-primary"
          [loading]="payLoading"
          (click)="onClickPay()"
        >
          {{'Pay Document' | translate}}
        </app-button>
        <p *ngIf="paid" class="text-success">
          {{ 'Messages.Rights (requirements) are registered. Help can be viewed in your account' | translate }}
        </p>
      </div>
      <app-create-form
        [mode]="mode"
        [contractId]="contractId"
        [documentId]="documentId"
        [currentDocument]="document"
        [currentContract]="contract"
      ></app-create-form>
    </div>
  </div>
</div>


<ng-template #cancelContractModal let-modal>
  <div class="modal-container">
    <h4 class="modal-title">{{'Canceling a contract' | translate}}</h4>
    <p class="modal-text">{{'Are you sure you want to cancel this contract?' | translate}}</p>
    <div class="button-container">
      <button type="button" class="dark_gray mr-4" (click)="modal.dismiss()">{{'No' | translate}}</button>
      <button type="button" ngbAutofocus class="red" (click)="cancelContract()">{{'Yes' | translate}}</button>
    </div>
    <button (click)="modal.dismiss()" class="modal-close">
    </button>
  </div>
</ng-template>

<ng-template #archiveContractModal let-modal>
  <div class="modal-container">
    <h4 class="modal-title">{{'Deleting a contract' | translate}}</h4>
    <p class="modal-text">{{'Are you sure you want to delete this contract?' | translate}}</p>
    <div class="button-container">
      <button type="button" class="dark_gray mr-4" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
      <button type="button" ngbAutofocus class="red" (click)="archiveContract()">{{'Delete' | translate}}</button>
    </div>
    <button (click)="modal.dismiss()" class="modal-close">
    </button>
  </div>
</ng-template>

<ng-template #rejectContractModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'Renouncement' | translate}}</h4>
  </div>
  <div class="modal-body">
    <p>{{'After refusing a document, you will not be able to sign this document' | translate}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
    <button type="button" ngbAutofocus class="btn btn-outline-danger " (click)="onRejectSignContract()">{{'Refuse signature' | translate}}</button>
  </div>
</ng-template>

<ng-template #signModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{'Signing a contract' | translate}}</h4>
  </div>
  <div class="modal-body">
    <p class="mb-3" *ngIf="userPermissions.owner">
      {{'Before signing a document, check the list of signatories: add or remove signer (s) (if necessary)' | translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="chooseCertificate()"
      [disabled]="ncaLoading"
      ngbAutofocus
    >
      {{'Choose certificate' | translate}}
    </button>
  </div>
</ng-template>


<ng-template #removeUserModal let-modal>
  <div class="modal-header">
    <h4 class="body mt-3">
      {{'Are you sure you want to remove this signer?' | translate}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="removing-user">
      <small>{{selectedUser.iin}}</small>
      <h6>{{capitalizeFullName(selectedUser.fullName)}}</h6>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
    <button
      type="button"
      ngbAutofocus
      class="btn btn-danger"
      (click)="onRemoveUser(selectedUser)"
    >
      {{'Remove' | translate}}
    </button>
  </div>
</ng-template>
