.dateTimePickerWrapper {
  height: 0;
}

.dateTimePickerWrapper .dateTimePicker {
  background: #fff;
  z-index: 1000;
  max-width: 500px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.form-control {
  border-radius: 4px;
  padding: .5rem .75rem;
  height: auto;
}
