<div class="modal-body d-flex align-items-center">
  <img src="../../../../assets/icons/key.svg" alt="" class="mr-3"/>
  <p>{{ 'Messages.To continue, select the EDS key in the NCALayer application.' | translate}}</p>
</div>
