<div class="container list-page">
  <h1 class="page-title">{{ 'Request for collection and processing of personal data' | translate }}</h1>
  <p class="page-subtitle">{{ 'Before you create a contract, you need to send a request to the participants of this contract to authorize the processing of personal data' | translate }}</p>
  <div class="row">
    <div class="col-12 col-md-3 types">
      <nav class="nav mb-4 d-flex flex-column">
        <a
          [routerLink]="'/request/'"
          [queryParams]="{requestType: types.outbox}"
          [class.active]="requestType === types.outbox"
          class="nav-link header-menu__link"
        >
          {{'Request Outbox' | translate}}
        </a>
        <a
          [routerLink]="'/request/'"
          [queryParams]="{requestType: types.inbox}"
          [class.active]="requestType === types.inbox"
          class="nav-link header-menu__link"
        >
          {{'Request Inbox' | translate}}
        </a>
      </nav>
    </div>
    <div class="col-12 col-md-6 list">
<!--      <input type="text" class="form-control mb-4" placeholder="{{'Search by name or contract name' | translate}}" disabled/>-->
      <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="500"
        (scrolled)="onScroll()"
      >
        <app-preview-request
          *ngFor="let request of requests"
          [id]="request.requestId"
          [title]="request.title[translateService.currentLang]"
          [state]="request.status"
          [isInitiator]="request.isInitiator"
          [createdDate]="request.updatedAt"
          [companyName]="request.companyName"
          [commentary]="request.commentary"
          [showAgreementLink]="true"
          [loadingAgreementLink]="loadingDownload[request.requestId]"
          [actionBtns]="getActionBtns(request)"
          [participants]="getParticipantsText(request)"
          (reject)="onReject($event)"
          (confirm)="onConfirm($event)"
          (download)="onDownload(request)"
        >
        </app-preview-request>
      </div>
      <app-loader class="mt-5" *ngIf="loadingRequests"></app-loader>
    </div>
  </div>
</div>
