.list-page {
  padding-top: 32px;
}
.header-menu__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 0 0 26px 0;
  color: #000;
  cursor: pointer;
}
.header-menu__link.active {
  color: #1565c0;
}
