.not-found-page {
  margin-top: 150px;
}

.not-found-title {
  font-weight: bold;
  font-size: 200px;
  line-height: 272px;
  text-align: center;
}

.not-found-text {
  font-weight: bold;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
}

.not-found-link__wrapper {
  text-align: center;
  margin-top: 120px;
}

.not-found-link {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 82px;
  background: #1565C0;
  border-radius: 4px;
}

.not-found-link:hover {
  text-decoration: none;
}

@media(max-width: 768px) {
  .not-found-page {
    margin-top: 220px;
  }

  .not-found-title {
    font-size: 120px;
    line-height: 140px;
  }

  .not-found-text {
    font-size: 20px;
    line-height: 24px;
  }

  .not-found-link__wrapper {
    margin-top: 60px;
  }

  .not-found-link {
    font-size: 14px;
    padding: 8px 35px;
  }
}
