<div class="login-page">
  <section id="banner" class="d-flex flex-column align-items-center">
      <img src="assets/icons/doc.svg" alt="Document">
      <h1 class="mb-3">Smart Contract</h1>
      <p class="mb-5" innerHTML="{{'landing.description' | translate}}"></p>
      <button class="btn btn-white" (click)="redirectToIdp()">{{ 'Login with Egov' | translate }}</button>
  </section>
  <section id="advantages">
    <div class="container">
      <div class="card landing-card">
        <div class="row">
          <div class="col-md-4 col-12 px-5 border-right">
            <img src="assets/icons/smile.svg" alt="Smile" />
            <h3 class="mt-4">{{'landing.comfortable' | translate}}</h3>
            <p class="mt-3" innerHTML="{{'landing.comfortableDescription' | translate}}"></p>
          </div>
          <div class="col-md-4 col-12 px-5 border-right">
            <img src="assets/icons/check.svg" alt="Check" />
            <h3 class="mt-4">{{'landing.legitimately' | translate}}</h3>
            <p class="mt-3" innerHTML="{{'landing.legitimatelyDesc' | translate}}"></p>
          </div>
          <div class="col-md-4 col-12 px-5">
            <img src="assets/icons/lock.svg" alt="Lock" />
            <h3 class="mt-4">{{'landing.reliable' | translate}}</h3>
            <p class="mt-3" innerHTML="{{'landing.reliableDesc' | translate}}"></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="how-works">
    <h2 id="how-works" class="mb-5">{{'landing.howItWorks' | translate}}</h2>
    <div class="d-flex justify-content-center mb-4" *ngFor="let work of works">
      <div class="card landing-card d-flex flex-row justify-content-between how">
        <div class="number mr-4">
          {{work.id}}
        </div>
        <div class="text-left">
          <h3 class="title">{{work.title[currentLanguage]}}</h3>
          <p class="description">{{work.description[currentLanguage]}}</p>
        </div>
        <img class="how-logo" src="assets/icons/{{work.icon}}.svg" alt="{{work.icon}}">
      </div>
    </div>
  </section>

  <section id="faq">
    <h2 class="mb-5">{{'landing.Faq' | translate}}</h2>
    <div *ngFor="let faq of faqs" class="card landing-card">
      <div class="question d-flex justify-content-between cursor-pointer" (click)="click(faq)">
        <span>{{faq.question[currentLanguage]}}</span>
        <img src="assets/icons/angle-down.svg" class="rec mr-2" [class.rotate]="faq.show" alt=""/>
      </div>
      <div class="answer" [class.show]="faq.show">
        <p *ngIf="faq.show" class="mx-5 mb-4" [innerHTML]="faq.answer[currentLanguage]"></p>
      </div>
    </div>
    <button class="btn-bordered" (click)="toggleAll()">{{showAll ? ('landing.hide' | translate) : ('landing.showMore' | translate)}}</button>
  </section>
  <section id="footer"></section>
</div>
