.login-page {
  background-color: #1565C0;
  color: #fff;
  min-height: 100%;
  padding-bottom: 30px;
}
section {
  text-align: center;
}
h2 {
  font-size: 32px;
  line-height: 44px;
}
a {
  color: #fff;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
#banner {
  padding-top: 100px;
  padding-bottom: 112px;
  h1 {
    font-size: 56px;
    line-height: 76px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

.landing-card {
  background-color: #0451A9;
}
#advantages {
  margin-bottom: 80px;
  .landing-card {
    padding: 52px 0;
    h3 {
      font-size: 28px;
      line-height: 38px;
      font-weight: 600;
    }
    p {
      text-align: left;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.86);
    }
  }
}
.how-works {
  margin-bottom: 80px;
  .how {
    width: 752px;
    padding: 20px;
    .number {
      border-radius: 50%;
      height: 56px;
      width: 56px;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      color: #251313;
      font-size: 28px;
      line-height: 56px;
      background-color: #fff;
      font-weight: 700;
    }
    .how-logo {
      height: 140px;
      width: 140px;
    }
    .title {
      font-size: 28px;
      line-height: 38px;
      font-weight: bold;
    }
    .description {
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.86);
      font-weight: normal;
    }
  }
}

#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../assets/icons/tape.svg");
  background-position: top;
  background-repeat: no-repeat;
  .landing-card {
    width: 752px;
    margin-bottom: 32px;
  }
  .question {
    padding: 24px 32px 26px;
    font-size: 16px;
    font-weight: 600;
  }
  .answer {
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    p {
      text-align: left;
    }
    &.show {
      height: auto;
    }
  }
  .rec {
    transition: all .5s;
  }
  .rotate {
    transform: rotate(-90deg);
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
  }
  ol, ul {
    li {
      margin-bottom: 16px;
    }
  }

}
