<app-loader
  *ngIf="loading"
  [style.margin-top]="'15%'"
  [style.margin-left]="'25%'"
  size="medium"
></app-loader>
<div class="container item-page" *ngIf="contract && !loading">
  <div class='back-btn'>
    <a (click)="goBack()">
      <span class="back-btn__text">← {{'Close' | translate}}</span>
    </a>
  </div>
  <div class="contract-item-header">
    <h2 class='contract-item-header__title'>{{ contract.documentTitle[currentLanguage] }}</h2>
    <small *ngIf="contract.description">{{ contract.description[currentLanguage] }}</small>
    <p class='contract-item-header__date'>{{'Created' | translate}} {{ contract.createdDate | dateFormat: dateTimeFormat }}</p>
  </div>
  <div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-12 col-md-3">
      <h6 class='contract-item-users__content-name'>
        {{ capitalizeFullName(initiator.fullName) }}&nbsp;<span *ngIf="initiator.iin === auth.user.iin">({{'You' | translate}})</span>
      </h6>
      <div class='divider contract-item-divider'></div>
    </div>
    <div class="col-12 col-md-6">
      <div class="contract-item-users">
        <p class="contract-item-users__title">{{'Status of participants' | translate}}</p>
        <div class='contract-item-users__content'>
          <div class='d-flex align-items-center justify-content-between mb-3'>
            <div>

              <span class="contract-item-users__content-position">{{'Creator' | translate}}</span>
            </div>
            <div
              [ngClass]="'status status--fixed status--'+getOwnerStatus()"
            >
              {{'User Statuses.'+getOwnerStatus() | translate}}
            </div>
          </div>
          <div
            class='d-flex align-items-center justify-content-between mb-3'
            *ngFor="let user of contractUsers;let ind = index;"
          >
            <h6 class='contract-item-users__content-name'>{{ capitalizeFullName(user.fullName) }}&nbsp;<span *ngIf="user.iin === auth.user.iin">({{'You' | translate}})</span></h6>
            <div>
              <div [ngClass]="'status status--fixed status--'+user.status">{{'User Statuses.'+user.status | translate}}</div>
            </div>
          </div>
        </div>
        <p *ngIf="waitingConductor">{{ 'Messages.The application is being verified. This may take some time' | translate }}</p>
        <button *ngIf="canPay && !shouldPay" class="btn btn-warning">Не оплачен</button>
        <p class="payment-info mb-3" *ngIf="rkCode && shouldPay">
          Договор зарегистрирован в МЮ РК за номером: <b>{{rkCode}}</b><br/>
          Для регистрации прав (требований) Вам необходимо произвести оплату
        </p>
        <app-button
          *ngIf="shouldPay"
          className="btn btn-primary"
          [loading]="payLoading"
          (click)="onClickPay()"
        >
          {{'Pay Document' | translate}}
        </app-button>
        <p *ngIf="paid" class="text-success">
          {{ 'Messages.Rights (requirements) are registered. Help can be viewed in your account' | translate }}
        </p>
      </div>
      <div class="contract-item-wrapper">
        <div class="contract-item-info">
          <h3 class='contract-item-info__title'>{{'General information' | translate}}</h3>
          <div class="contract-item-info__doc-fields d-flex flex-wrap" *ngIf="contractDocument">
            <ng-container *ngFor="let field of contractDocument.inputForm.fields[1]">
              <div *ngIf="getGroupTitle(field)" class="contract-item-info__section py-3 w-100">
                {{getGroupTitle(field)}}
              </div>
              <div class='contract-item-info__doc-fields__info mb-4' *ngIf="showField(field)" >
                <span class='contract-item-info__doc-fields__info__subtitle'>{{field.title[currentLanguage]}}</span>
                <p class='contract-item-info__doc-fields__info__title'>{{documentFields[field.code]}}</p>
              </div>
            </ng-container>
          </div>
        </div>

        <div class="contract-item-controls d-flex flex-column">
          <div (clickOutside)="closeSignModal()">
            <button *ngIf="checkSignContract()"  style="position: relative" (click)="openSignModal(signContractModal)" class="contract-item-controls__button contract-item-controls__button--sign">
              <div class="contract-item-controls__button-text">{{'Sign' | translate}}</div>
              <img src="assets/icons/sign.svg" alt="" class="contract-item-controls__button--sign-img"/>
            </button>
            <div class="sidebar-overlay sign-container" [class.show]="ifOpenSignModal">
              <div class="m-5">
                <div>
                  <h4 class='h3sub mt-32 mb-4'>{{'Signing a contract' | translate}}</h4>
                  <div (click)="closeSignModal()" class='pointer mb-5'>
                    <p class="back-btn__text">← {{'Close' | translate}}</p>
                  </div>
                  <div>
                    <p class="mb-3" *ngIf="userPermissions.owner">
                      {{'Before signing a document, check the list of signatories: add or remove signer (s) (if necessary)' | translate}}
                    </p>
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="chooseCertificate()"
                      [disabled]="ncaLoading"
                    >
                      {{'Choose certificate' | translate}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="checkRejectContract()" (click)="openRejectModal(rejectContractModal)" class="contract-item-controls__button contract-item-controls__button--remove">
            <div class="contract-item-controls__button-text">{{'Refuse to sign' | translate}}</div>
            <img src="assets/icons/close.svg" alt="" class="contract-item-controls__button--sign-img"/>
          </button>
          <div (clickOutside)="onCloseUsers()">
          <button *ngIf="checkManageUsers()" (click)="onToggleUsers()" class="contract-item-controls__button">
            <div class="contract-item-controls__button-text">{{'Signatories list' | translate}}</div>
            <img src="assets/icons/users.svg" alt="" class="contract-item-controls__button--sign-img"/>
          </button>
            <!--app users-->
          </div>
          <button *ngIf="checkEditContract()" (click)="onEditContract()" class="contract-item-controls__button">
            <div class="contract-item-controls__button-text">{{'Change the data' | translate}}</div>
            <img src="assets/icons/edit2.svg" alt="" class="contract-item-controls__button--sign-img"/>
          </button>
          <button (click)="onDownloadContract()" class="contract-item-controls__button">
            <div class="contract-item-controls__button-text">{{'Download the document' | translate}}</div>
            <img *ngIf="!loadingDownload" src="assets/icons/download.svg" alt="" class="contract-item-controls__button--sign-img">
            <app-loader *ngIf="loadingDownload" size="small"></app-loader>
          </button>
          <button *ngIf="contract.canCancel" (click)="openArchiveModal(cancelContractModal)" class="contract-item-controls__button">
            <div class="contract-item-controls__button-text">{{'Cancel document' | translate}}</div>
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ban" class="svg-inline--fa fa-ban fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="#616161" d="M256 8C119.034 8 8 119.033 8 256s111.034 248 248 248 248-111.034 248-248S392.967 8 256 8zm130.108 117.892c65.448 65.448 70 165.481 20.677 235.637L150.47 105.216c70.204-49.356 170.226-44.735 235.638 20.676zM125.892 386.108c-65.448-65.448-70-165.481-20.677-235.637L361.53 406.784c-70.203 49.356-170.226 44.736-235.638-20.676z"></path>
            </svg>
          </button>
          <button *ngIf="contract.canArchive" (click)="openArchiveModal(archiveContractModal)" class="contract-item-controls__button">
            <div class="contract-item-controls__button-text">{{'Delete document' | translate}}</div>
            <img src="assets/icons/delete.svg" alt="" class="contract-item-controls__button--sign-img"/>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #cancelContractModal let-modal>
    <div class="modal-container">
      <h4 class="modal-title">{{'Canceling a contract' | translate}}</h4>
      <p class="modal-text">{{'Are you sure you want to cancel this contract?' | translate}}</p>
      <div class="button-container">
        <button type="button" class="dark_gray mr-4" (click)="modal.dismiss()">{{'No' | translate}}</button>
        <button type="button" ngbAutofocus class="red" (click)="cancelContract()">{{'Yes' | translate}}</button>
      </div>
      <button (click)="modal.dismiss()" class="modal-close">
      </button>
    </div>
  </ng-template>

  <ng-template #archiveContractModal let-modal>
    <div class="modal-container">
      <h4 class="modal-title">{{'Deleting a contract' | translate}}</h4>
      <p class="modal-text">{{'Are you sure you want to delete this contract?' | translate}}</p>
      <div class="button-container">
        <button type="button" class="dark_gray mr-4" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
        <button type="button" ngbAutofocus class="red" (click)="archiveContract()">{{'Delete' | translate}}</button>
      </div>
      <button (click)="modal.dismiss()" class="modal-close">
      </button>
    </div>
  </ng-template>

  <ng-template #rejectContractModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{'Renouncement' | translate}}</h4>
    </div>
    <div class="modal-body">
      <p>{{'After refusing a document, you will not be able to sign this document' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
      <button type="button" ngbAutofocus class="btn btn-outline-danger " (click)="onRejectSignContract()">{{'Refuse signature' | translate}}</button>
    </div>
  </ng-template>

  <ng-template #signContractModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">{{'Signing a contract' | translate}}</h4>
    </div>
    <div class="modal-body">
      <button
        type="button"
        class="btn btn-outline-info"
        (click)="chooseCertificate()"
      >
        {{'Choose certificate' | translate}}
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="signContract()"
        [disabled]="!accept.checked"
      >
        {{'Sign' | translate}}
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">{{'Cancel' | translate}}</button>
    </div>
  </ng-template>
</div>
