.contract-form {
  display: block;
}
label {
  margin-bottom: 5px;
  font-size: 12px;
  color: #6c757d;
}
.muted {
  font-size: 10px;
  color: #949494;
}
.form-control {
  border-radius: 4px;
  padding: .5rem .75rem;
  height: auto;
}

select {
  box-sizing: border-box;
  border-radius: 4px;
  padding: .5rem .75rem;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.create-header {
  margin: 48px 0;
}

.create-header__title-wrap {
  flex: 1;
}

.create-header__title {
  font-size: 20px;
  font-weight: 600;
}

.create-header a{
  text-decoration: none;
  padding: 0;
}

.contract-form__applicant {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.contract-form__name, .contract-form__iin {
  font-size: 14px;
  font-weight: 600;
  margin-right: 14px;
}

.select-dropdown {
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.select-dropdown:hover,.select-dropdown:focus  {
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	color: #222;
}

.select-dropdown:focus {
	border-color: #aaa;
	outline: none;
}

.form-input {
  position: relative;
}

.spinner-border {
  position: absolute;
  top: 20%;
  left: 94%;
  border: 2px solid;
  border-right-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
}

.loader__main {
  width: 6rem;
  height: 6rem;
  position: relative;
  border: 3px solid #1565C0;;
  border-right-color: transparent;
  top: 0;
  left: 0;
}

.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
.readonly {
  background-color: #F2F4F8;
}
.readonly__title {
  line-height: 18px;
  margin-bottom: 5px;
}
.readonly__value {
  font-size: 16px;
  line-height: 24px;
}
.kato-field .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}
.read {
  margin: 0 15px;
  padding: 7px 15px;
  background-color: #F2F4F8;
}
.read__value {
  font-size: 16px;
}
