<app-loader *ngIf="loading"></app-loader>
<form class="form row contract-form" *ngIf="!loading" #templteForm="ngForm">
<ng-container *ngFor="let field of fieldObjects; let object_index = index">
  <div *ngIf="getGroupTitle(field)" class="contract-form__applicant mb-2 mt-3 col-12">
    {{getGroupTitle(field)}}
  </div>
  <ng-container *ngIf="mode !== 'read'">
    <div class="form-group mb-3 col-12" *ngIf="field.display && !field.readOnly">
      <label>{{field.title[currentLanguage]}}<span *ngIf="field.mandatory"> *</span></label>
      <ng-container *ngIf="!field.source">
        <textarea
          autosize
          *ngIf="field.dataType === 'STRING'"
          type="text"
          [name]="field.code"
          class="form-control toRow{{object_index}}"
          rows="1"
          [ngClass]="getFieldStatusClass(field)"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          [maxlength]="field.length"
          (ngModelChange)="processDynamicSource(field, $event);"
          (keyup)="validateField(field)"
          (input)="validateField(field)"
          (change)="validateField(field)"
          [(ngModel)]="fieldsValue[field.code]"
          [value]="fieldsValue[field.code]"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
        ></textarea>
        <input
          *ngIf="field.dataType === 'EMAIL'"
          type="email"
          class="form-control"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          [maxlength]="field.length"
          [(ngModel)]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
          (input)="validateField(field)"
          (keyup)="validateField(field)"
          (change)="validateField(field)"
          [name]="field.code"/>
        <textarea
          *ngIf="field.dataType === 'TEXTAREA'"
          autosize
          [value]="fieldsValue[field.code]"
          type="textarea"
          class="form-control"
          rows="3"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          [maxlength]="field.length"
          [(ngModel)]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
          (input)="validateField(field)"
          (keyup)="validateField(field)"
          (change)="validateField(field)"
          [name]="field.code"
        ></textarea>
        <textarea
          *ngIf="field.dataType === 'TEL'"
          type="text"
          placeholder="8 (707) 123 45 67"
          rows="1"
          class="form-control"
          [ngClass]="getFieldStatusClass(field)"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [name]="field.code"
          prefix="7"
          mask="(000) 000 00 00"
          [value]="fieldsValue[field.code]"
          (change)="onChangePhone($event, field)"
          [dropSpecialCharacters]="false"
        >
        </textarea>
        <input
          *ngIf="field.dataType === 'BOOL'"
          type="checkbox"
          name="{{field.code}}"
          [(ngModel)]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
          (input)="validateField(field)"
          (keyup)="validateField(field)"
          (change)="validateField(field)"
        />
        <input
          *ngIf="field.dataType === 'INTEGER' || field.dataType === 'DURATION' || field.dataType === 'PERIOD' || field.dataType === 'DOUBLE'"
          type="text" name="{{field.code}}" class="form-control"
          [ngClass]="getFieldStatusClass(field)"
          [(ngModel)]="fieldsValue[field.code]"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          [maxLength]="field.length || 500"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
          (input)="validateField(field)"
          (keyup)="validateField(field)"
          (change)="validateField(field)"
          (ngModelChange)="processDynamicSource(field, $event)"
        />
        <app-date-input
          *ngIf="field.dataType === 'LOCAL_DATE'"
          [model]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [field]="field"
          [maxDate]="field.maxDate"
          [minDate]="field.minDate"
          (onDateChange)="onDateChange($event, field)"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [placeholder]="field.placeHolder[currentLanguage]"
        ></app-date-input>
        <app-date-interval-input
          *ngIf="field.dataType === 'INTERVAL'"
          [model]="modelDetails.inputForm.fields[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [field]="field"
          [mFromDate]="modelDetails.fromDate"
          [mToDate]="modelDetails.toDate"
          (onDateIntervalChange)="onDateIntervalChange($event, field)"></app-date-interval-input>
        <app-time-input
          *ngIf="field.dataType === 'TIME'"
          [model]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [field]="field"
          (onTimeChange)="onTimeChange($event, field)"
          [placeholder]="field.placeHolder[currentLanguage]"
        ></app-time-input>
        <app-time-input
          *ngIf="field.dataType === 'TIME_WITH_ZONE'"
          [model]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [withZone]="true"
          [field]="field"
          (onTimeChange)="onTimeChange($event, field)"></app-time-input>
        <app-date-time-input
          *ngIf="field.dataType === 'DATE_TIME'"
          [model]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [field]="field"
          (dateTimeChange)="onDateTimeChange($event, field)">
        </app-date-time-input>
        <app-date-time-input
          *ngIf="field.dataType === 'DATE_TIME_WITH_ZONE'"
          [model]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field)"
          [withZone]="true"
          [field]="field"
          (dateTimeChange)="onDateTimeChange($event, field)">
        </app-date-time-input>
      </ng-container>
      <ng-container *ngIf="field.source">
        <select
          *ngIf="field.sourceType === sourceTypes.STATIC && staticSources[field.source]"
          [(ngModel)]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field, 'select')"
          (change)="staticSourceSelected(field, staticSources[field.source].elements, fieldsValue[field.code])"
          name="{{field.code}}"
          class="form-control select-dropdown"
          [disabled]="field.readOnly || currentDocument.readOnly"
        >
          <option value=""></option>
          <option *ngFor="let item of staticSources[field.source].elements" [value]="item.id">{{item.name[currentLanguage]}}</option>
        </select>
        <textarea
          autosize
          *ngIf="field.sourceType && field.sourceType === sourceTypes.DYNAMIC"
          type="text"
          name="{{field.code}}"
          class="form-control toRow{{object_index}}"
          rows="1"
          [ngClass]="getFieldStatusClass(field)"
          [placeholder]="field.placeHolder[currentLanguage]"
          [disabled]="field.readOnly || currentDocument.readOnly"
          [required]="field.mandatory"
          [pattern]="field.validator"
          [maxlength]="field.length"
          (change)="processDynamicSource(field, $event);"
          (keyup)="validateField(field, true)"
          (input)="validateField(field)"
          [(ngModel)]="fieldsValue[field.code]"
          [value]="fieldsValue[field.code]"
          (keypress)="keypressValidate($event, field)"
          (paste)="keypressValidate($event, field)"
        ></textarea>
        <!--TODO: Check Dynamic List-->
        <select
          *ngIf="!field.sourceType && field.source !== 'kato'"
          [(ngModel)]="fieldsValue[field.code]"
          [ngClass]="getFieldStatusClass(field, 'select')"
          (change)="processDynamicListSource(field, $event)"
          name="{{field.code}}"
          class="form-control select-dropdown"
          [disabled]="field.readOnly || currentDocument.readOnly"
        >
          <option value=""></option>
          <ng-container *ngIf="dynamicListSources[field.code]">
            <option *ngFor="let item of dynamicListSources[field.code].elements" [value]="item.id">{{item.name[currentLanguage]}}</option>
          </ng-container>
        </select>
        <div class="kato-field position-relative" *ngIf="!field.sourceType && field.source === 'kato'">
          <div (click)="!currentDocument.readOnly && !field.readOnly && openAddressModal(field, $event)" class="wrapper"></div>
          <select
            name="{{field.code}}"
            class="form-control toRow{{object_index}}"
            [ngClass]="getFieldStatusClass(field)"
            [disabled]="field.readOnly || currentDocument.readOnly"
            [required]="field.mandatory"
            [ngModel]="fieldsValue[field.code]"
          >
            <option value="">{{field.placeHolder[currentLanguage]}}</option>
            <option [value]="fieldsValue[field.code]">{{fieldsValue[field.targetFields[0]]}}</option>
          </select>
        </div>
      </ng-container>
      <small class="form-text muted">{{field.hint[currentLanguage]}}</small>
      <div class="error-message" *ngIf="validation[field.code].startValidation && !validation[field.code].isValid">{{field.errorMessage[currentLanguage]}} <a *ngIf="validation[field.code].showAgreementLink" (click)="openAgreementModal(documentId, fieldsValue[field.code])" class="text-primary cursor-pointer">{{'Request for agreement' | translate}}</a></div>
    </div>
    <div class="mb-2 col-12" *ngIf="field.display && field.readOnly">
      <div class="readonly px-3 py-2">
        <label class="readonly__title">{{field.title[translate.currentLang]}}</label>
        <div class="readonly__value">{{fieldsValue[field.code] || '------'}}</div>
      </div>
    </div>
  </ng-container>
  <div *ngIf="mode === 'read' && field.display" class="read">
    <label>{{field.title[currentLanguage]}}</label><br/>
    <p class="read__value">
      <ng-container *ngIf="field.source && !field.sourceType; else simple">
        {{fieldsValue[field.targetFields[0]]}}
      </ng-container>
      <ng-template #simple>
        {{fieldsValue[field.code] || '------'}}
      </ng-template>
    </p>
  </div>
</ng-container>
<div class="col">
  <app-button
    *ngIf="mode !== 'read'"
    type="submit"
    className="btn btn-primary btn-lg btn-block w-100"
    (click)="next()"
    [disabled]="disableNext()"
    [loading]="submitLoading"
  >
    {{ 'Save' | translate }}
  </app-button>
</div>
</form>
