<div class="modal-header">
  <h4 class="modal-title"
      id="modal-basic-title">{{'Request for collection and processing of personal data' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="form-group mb-4">
    <label for="iin" class="mb-2">{{"New member's IIN" | translate}}</label>
    <div class="input-group">
      <input
        type="text"
        id="iin"
        maxlength="12"
        class="form-control"
        title="{{'length must be 12' | translate}}"
        [(ngModel)]="iin"
        [disabled]="loadingSearchIIN"
        required
      />
      <div class="input-group-append">
        <app-button
          [className]="'btn btn-primary'"
          [title]="'length must be 12' | translate"
          [disabled]="iin === '' || iin.length < 12"
          [loading]="loadingSearchIIN"
          (click)="onSearchIIN()"
        >
          {{ 'Search' | translate }}
        </app-button>
      </div>
    </div>
    <div class="error-message" *ngIf="isUserSearchError">{{'Errors.Incorrect TIN' | translate}}</div>
    <div class="error-message" *ngIf="iinIsRepeated">{{'Errors.User already added' | translate}}</div>
  </div>
  <div class="mb-3" *ngFor="let user of users">
    <div class="member-name mt-3">
      <div class="w-100 float-left">
        <p class="secondary-gray">{{user.iin}}</p>
        <p class="text-dark">{{user.fullName}}</p>
      </div>
      <div class="float-right">
        <button type="button" class="close" aria-label="Close" (click)="removeUser(user)">
          <span class="text-danger" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<!--  <div>-->
<!--    <div class="form-group mt-4 mb-3">-->
<!--      <label for="tin" class="mb-2">{{"Initiator's TIN" | translate}}</label>-->
<!--      <div class="input-group">-->
<!--        <input-->
<!--          type="text"-->
<!--          id="tin"-->
<!--          maxlength="12"-->
<!--          class="form-control"-->
<!--          [(ngModel)]="tin"-->
<!--          title="{{'length must be 12' | translate}}"-->
<!--          required-->
<!--        >-->
<!--        <div class="input-group-append">-->
<!--          <app-button-->
<!--            [className]="'btn btn-primary'"-->
<!--            [title]="'length must be 12' | translate"-->
<!--            [disabled]="tin === '' || tin.length < 12"-->
<!--            [loading]="loadingSearchTin"-->
<!--            (click)="onSearchTIN()"-->
<!--          >-->
<!--            {{ 'Search' | translate }}-->
<!--          </app-button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="error-message" *ngIf="isCompanySearchError">{{'Errors.Incorrect BIN' | translate}}</div>-->
<!--    </div>-->
<!--    <div class="member-name mt-3" *ngIf="!!organization">-->
<!--      <div class="w-100 float-left">-->
<!--        <p class="secondary-gray">{{organization.tin}}</p>-->
<!--        <p class="text-dark">{{organization.name[translate.currentLang]}}</p>-->
<!--      </div>-->
<!--      <div class="float-right">-->
<!--        <button type="button" class="close" aria-label="Close" (click)="removeOrganization()">-->
<!--          <span class="text-danger" aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="form-group mb-3 mt-4 w-100 mr-0">
    <label for="comment" class="mb-2">{{"Send commentary" | translate}}</label>
    <textarea id="comment" class="form-control" [(ngModel)]="comment"></textarea>
  </div>
</div>

<div class="modal-footer justify-content-end">
  <button type="button" class="btn cancel mr-3"
          (click)="activeModal.close('Save click')">{{'Cancel request' | translate}}</button>
  <div>
    <app-button
      [className]="'btn btn-primary'"
      [loading]="loadingAddUser"
      [disabled]="!users.length || isCompanySearchError"
      (click)="sendRequest()"
    >
      {{ 'Send' | translate }}
    </app-button>
  </div>
</div>
