.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.modal-input {
  border: 1px solid #949494;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

label {
  font-weight: 600;
}

.center-text-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #BABABA;
  font-size: 16px;
}

.center-text-line::before,
.center-text-line::after {
  content: "";
  flex-grow: 1;
  background: #E8E8E8;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;

}

.center-text-line::before {
  margin-left: 0;
}

.center-text-line::after {
  margin-right: 0;
}

.cancel {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1565C0;
}

.member-name {
  padding: 40px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #F2F4F8;
}
