.template-list-page {
  padding-top: 32px;
}
.template {
  margin-bottom: 56px;
}
.template-item {
  padding-left: 50px;
  position: relative;
}
.template-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-image: url(../../../../assets/icons/document.svg);
}
.template-item__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1565C0;
  margin-bottom: 0;
}
.template-item__description {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.58);
}
.template-document {
  padding-left: 50px;
  height: 40px;
}
