<div class="container template-list-page">
  <h3 class="page-title">{{'Choose a template' | translate}}
    <img class="cursor-pointer" src="../../../../assets/icons/question.svg" alt="" routerLink="/contracts/help"/>
  </h3>
  <p class="page-subtitle">{{'Choose a template desc1' | translate}}</p>
  <app-loader *ngIf="documentsLoading"></app-loader>
  <div class="row" *ngIf="!documentsLoading">
    <div class="col-12 col-md-6 template" *ngFor="let document of documents">
      <div class="template-item cursor-pointer mb-2" routerLink="/contracts/create/{{document.documentId}}">
        <p class="template-item__title">{{document.title[translate.currentLang]}}</p>
        <small class="template-item__description">{{document.description[translate.currentLang]}}</small>
      </div>
      <div class="d-flex align-items-center">
        <div>
          <button class="btn btn-outline-dark btn-sm mr-3" (click)="openModal(document.documentId)">{{'Request for agreement' | translate}}</button>
        </div>
        <div *ngIf="document.templateId" class="d-flex template-document align-items-center cursor-pointer" (click)="openTemplate(document)">
          <div class="mr-2 d-flex align-items-center">
            <img *ngIf="!document.loading" src="../../../../assets/icons/eye.svg" alt="eye"/>
            <app-loader *ngIf="document.loading" size="small"></app-loader>
          </div>
          <a class="text-underline">
            {{'View sample' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
