<div [class.text-center]="center">
  <div
    class="spinner-border text-primary"
    role="status"
    [ngStyle]="{'width': diameter, 'height': diameter}"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
