.agreement {
  background-color: #F2F4F8;
  border-radius: 4px;
  padding: 15px 21px;
  margin-bottom: 16px;
}
.signer {
  background: url("../../../../assets/icons/signer.svg") no-repeat center center;
  width: 14px;
  height: 16px;
  display: flex;
  margin-right: 13px;
  margin-top: 2px;
}
.signer-name {
  font-weight: 600;
  font-size: 15px;
  color: #505050;
  line-height: 20px;
}
.agreement-link {
  color: #707070;
  font-size: 13px;
}
a.agreement-link:hover {
  color: #1565C0;
  text-decoration: underline;
}
