<div class="agreement d-flex">
  <div>
    <span class="signer"></span>
  </div>
  <div>
    <h3 class="signer-name">{{fullName}}</h3>
    <a *ngIf="!loadingDownload" class="agreement-link cursor-pointer" (click)="downloadAgreement()">{{'Consent to the processing of personal data' | translate}}</a>
    <div class="mt-2"><app-loader *ngIf="loadingDownload" [size]="'small'" [center]="false"></app-loader></div>
  </div>
</div>
