<div
  class="sidebar-list-item list-group-item align-items-start d-flex px-0"
  [class.bg-gray]="state === 'CREATED'"
>
  <div>
    <span class="user-svg"></span>
  </div>
  <div class="w-100">
    <small class="link gray float-right mb-1">{{ createdDate | dateFormat: dateTimeFormat }}</small>
    <app-state [color]="state" [loading]="stateLoading">{{ 'Statuses.'+state | translate }}</app-state>
    <h4 class="bodysub mb-2">{{ title }}</h4>
    <p class="link gray mb-3" [innerHtml]="participants"></p>
    <p class="link gray mb-1" *ngIf="companyName">{{companyName[translate.currentLang]}}</p>
    <p class="link gray mb-1">{{commentary}}</p>
    <div class="w-100 justify-content-between align-items-center">
      <div class="action-btns d-flex my-3" *ngIf="actionBtns">
        <button class="btn btn-outline-secondary" (click)="onOpenRejectModal(rejectModal)" [disabled]="loading">{{ actionBtns[1].title | translate }}</button>
        <button class="btn btn-primary ml-3" (click)="onConfirm()"[disabled]="loading">{{ actionBtns[0].title | translate }}</button>
      </div>
      <div class="d-flex">
        <span *ngIf="!loadingAgreementLink" class="eye-svg"></span>
        <app-loader *ngIf="loadingAgreementLink" size="extraSmall"></app-loader>
        <button
          class="btn btn-link download text-underline"
          (click)="onDownload()"
        >
          {{ 'Consent to data processing' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #rejectModal>
  <div class="modal-body px-3 py-5">
    <p class="text-center">{{'Are you sure to reject request' | translate}}</p>
  </div>
  <div class="modal-footer justify-content-end">
    <button class="btn btn-outline-secondary mr-4" (click)="onCloseModal()">{{'No' | translate}}</button>
    <button class="btn btn-outline-danger" (click)="onReject()">{{'Yes' | translate}}</button>
  </div>
</ng-template>
