
.sidebar-list-item {
  padding: 16px 20px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-right: 0;
  border-left: 0;

  border-top: 0;
  transition: all 0.3s;
  position: relative;
}
.sidebar-list-item .link,
.sidebar-list-item small {
  font-size: 12px;
}
.sidebar-list-item--active {
  background: #fff;
  border-right: 0;
}
.sidebar-list-item--active:hover {
  background: #fff;
}
.sidebar-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0px;
  background: #1170B4;
  transition: width 0.3s ease;
}
.sidebar-list-item--active::before {
  width: 6px;
}
.bg-gray {
  background-color: #F2F4F8;
}
.user-svg {
  background: url("../../../../assets/icons/user.svg") no-repeat center center;
  width: 40px;
  height: 40px;
  display: flex;
  margin-right: 20px;
}
.eye-svg {
  background: url("../../../../assets/icons/eye.svg") no-repeat center center;
  width: 22px;
  height: 14px;
  display: flex;
  margin-top: 9px;
}
.download {
  color: #888888;
  font-weight: 600;
  font-size: 12px;
}
