@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
}

button, input, textarea {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

button:active, button:focus, input:focus {
  outline: none;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background: #fff;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.h2 {
  font-weight: 700;
  font-size: 1.625rem;
}

.h2reg {
  font-weight: 500;
  font-size: 1.625rem;
}

.h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

.h3sub {
  font-weight: 600;
  font-size: 1.25rem;
}

.h3reg {
  font-weight: 500;
  font-size: 1.25rem;
}

.h1sub {
  font-weight: 700;
  font-size: 1.125rem;
}

.h2sub {
  font-weight: 600;
  font-size: 1.125rem;
}

.body {
  font-weight: 500;
  font-size: 1rem;
}

.bodysub {
  font-weight: 600;
  font-size: 1rem;
}

.bodyhl {
  font-weight: 700;
  font-size: 1rem;
}

.menuitem {
  font-weight: 300;
  font-size: 0.75rem;
}

.caption {
  opacity: .8;
  font-weight: 500;
  font-size: 0.9375rem;
}

.link {
  font-weight: 500;
  font-size: 0.875rem;
}

.linksub {
  font-weight: 600;
  font-size: 0.875rem;
}

.small {
  font-weight: 500;
  font-size: 0.75rem;
}

.smallest {
  font-weight: 300;
  font-size: 0.625rem;
}

.category {
  letter-spacing: 0.17px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.625rem;
}

/* color */
.red {
  color: #E63333;
}

.blue {
  color: #1170B4;
}

.black {
  color: #151515;
}

.gray {
  color: rgba(21, 21, 21, 0.5);
}

.secondary-gray {
  color: #949494;
}

.green {
  color: #019875;
}

.orange {
  color: #ED9F08;
}

.dark_blue {
  color: #083759;
}

.dark_gray {
  color: rgba(0, 0, 0, 0.5);
}

.bg_red {
  background: #E63333;
}

.bg_blue {
  background: #1170B4;
}

.bg_black {
  background: #151515;
}

.bg_gray {
  background: rgba(21, 21, 21, 0.5);
}

.bg_green {
  background: #019875;
}

.bg_orange {
  background: #ED9F08;
}

.bg_dark_blue {
  background: #083759;
}

.text-underline {
  text-decoration: underline !important;
}

/* margin */
.m-center {
  margin: 0 auto
}

.main {
  padding-top: 80px;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

/* Siderbar overlay */
.sidebar-overlay {
  height: 100%;
  width: 464px;
  position: fixed;
  right: 0;
  top: 80px;
  z-index: 1;
  transform: translate(500px);
  background: #F7F8FC;
  transition: all .3s;
  overflow: hidden;
  opacity: 0;
}

.sidebar-overlay.show {
  transform: translate(0);
  opacity: 1;
}

/* Additional margin */
.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mx-32 {
  margin-right: 32px;
  margin-left: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* dot */
.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}

/* pointer */
.pointer {
  cursor: pointer;
}

/* divider */
.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cursor-pointer {
  cursor: pointer
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary {
  background-color: #1565C0;
  border-color: #1565C0;
  border-radius: 4px;
}
.btn-white {
  background-color: #F5F5F5;
  color: #083759;
  height: 50px;
  padding: 0 40px;
}
.btn-bordered {
  width: auto;
  padding: 0 10px;
  line-height: 27px;
  height: 30px;
  position: relative;
  font-size: 12px;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 32px;
  min-width: 123px;
  color: #fff;
}

/* Loading */
.form-control.is-loading {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url('assets/icons/spinner.gif') !important;
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.page-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
}

.page-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 40px;
}
